###> root ###
.junie/
.junie/*
.idea/
###< root ###

###> ms/Book ###
/ms/Book/var/cache/
/ms/Book/var/log/
/ms/Book/.env.local
/ms/Book/composer.lock
/ms/Book/symfony.lock
/ms/Book/var/
/ms/Book/vendor/
###< ms/Book ###
